@import '../../scss/config/global';

button.carouselIcon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: $white;
  border: none;
  
  &:hover {
    opacity: .5;
    background-color: $white;
  }
}