@import "config/base";

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.carousel {
  button .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    padding: 1rem;
    background-color: white;
    border-radius: 500px;
  }
}

.pretext {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: .75rem;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.75rem;
  background-color: hsl(223, 64%, 98%);
  
  input {
    display: inline-block;
    min-width: 1rem;
    text-align: center;
    font-weight: bolder;
    border: none;
    background-color: transparent;
  }
  
  button {
    display: inline-block;
    border: none;
    background-color: transparent;
  }
}