@import "config/base";

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  
  .container-sm {
    max-width: 375px;
  }
}

.carousel {
  button .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    padding: 1rem;
    background-color: white;
    border-radius: 500px;
  }
}