@import '../../scss/config/global';

.cart {
  top: 100%; left: 0%;
  right: 0%;
  
  @include media-breakpoint-up("sm") {
    min-width: 24rem;
    left: -400%; bottom: 0%;
  }
}

button.avatar {
  width: 2rem;

  @include media-breakpoint-up("md") {
    width: 3rem;
  }
}