body > .container-fluid > header {
  .profile-section {
    @include media-breakpoint-up("sm") {
      position: relative;
    }
  
    .avatar {
      .container-fluid {
        width: 2rem;
        height: 2rem;
        overflow: hidden;
        border-radius: 100px;
        
        &:hover {
          border: 2px solid $primary; 
        }
        
      }
    }
  }

  @include media-breakpoint-up("md") {
    .nav-link {
      font-weight: lighter;
    }
  }
}