@import "../../scss/config/global";

.header {
	border-bottom: 1px solid whitesmoke;
  @include media-breakpoint-up("md") {
    .navLink {
      position: relative;
      font-weight: 300;
      transition: $transition-base;
      
      &:hover {
        &:after {
          position: absolute;
          left: 0%; bottom: -60%;
          right: 0%;
          content: "";
          width: 100%;
          margin: 0 auto;
          min-height: .25rem;
          border-radius: .5rem;
          background-color: $primary;
        }
      }
    }
  }
}