$carousel-control-color:             $black;
$carousel-control-opacity:           1;

/* $carousel-indicator-width:           100%;
$carousel-indicator-height:          100px;
$carousel-indicator-active-bg:       $black; */