$primary:       hsl(26, 100%, 55%);
/* $secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default; */
$dark:          hsl(220, 13%, 13%);