$primary:       hsl(26, 100%, 55%);
$secondary:     hsl(220, 14%, 75%);
$light:         hsl(223, 64%, 98%); 
$dark:          hsl(220, 13%, 13%);

$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

$pale-orange: hsl(25, 100%, 94%);
$gray: hsl(219, 9%, 45%);